<link rel="stylesheet" href="/css/posts.css" />

<li id="post-<%= post._id %>">
  <p>
    <small id="post-user"><img src="https://www.flaticon.com/svg/vstatic/svg/3135/3135715.svg?token=exp=1620976397~hmac=b450721eea4c3f84e698f875db3a48b0" alt="Avatar"> <%= post.user.name %> </small>
    <% if (locals.user && locals.user.id == post.user.id){ %>
    <small>
      
      <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
    </small>
   <% } %> <h1> <%= post.content %></h1>

    
  </p>
  <% if(locals.user) {%>
    <hr>
    <a data-likes="<%=post.likes.length%>" class="toggle-like-button" href="/likes/toggle/?id=<%=post._id%>&type=Post">
  <img src="https://www.flaticon.com/svg/vstatic/svg/1077/1077035.svg?token=exp=1620977848~hmac=f2b63d09a0099aa557195be40349d866" alt="Like"><span id="post-like-length">   <%= post.likes.length%></span>
</a>
  <hr>
  <%} else{%>
    <hr>
    <img src="https://www.flaticon.com/svg/vstatic/svg/1077/1077035.svg?token=exp=1620977848~hmac=f2b63d09a0099aa557195be40349d866" alt="Like"><span>   <%= post.likes.length%> </span>
    <hr>
  <%}%>
  
  <div class="post-comments">
    <% if (locals.user){ %>
    <form
      id="post-<%= post._id %>-comments-form"
      action="/comments/create"
      method="POST"
    >
      <input id="comment-content"
        type="text"
        name="content"
        placeholder="Type Here to add comment..."
        required
      />
      <br>
      <input type="hidden" name="post" value="<%= post._id %>" />
      <input id="comment-post" type="submit" value="Add Comment" />
    </form>

    <% } %>

    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
        <% for (comment of post.comments){%> <%- include('_comment') -%> <%} %>
      </ul>
    </div>
  </div>
</li>
