<link rel="stylesheet" href="/css/user_profile.css" />

<div class="profile-center">
  <h1>Profile</h1>
  <img
    style="border-radius: 100%"
    src="<%= user.avatar%>"
    alt="<%=user.name%>"
    width="100"
  />

  <% if(user.id == profile_user.id) {%>
  <form
    method="POST"
    action="/users/update/<%=profile_user.id%>"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      value="<%=profile_user.name%>"
      required
    />
    <br />
    <input
      type="text"
      name="email"
      placeholder="Your email"
      value="<%=profile_user.email%>"
      required
    />
    <br />
    <input type="file" name="avatar" placeholder="Profile Picture" />
    <br />
    <input
      style="background-color: white; color: orange"
      type="submit"
      value="update"
    />
  </form>
  <%}else{%>
  <p>Name: <%=profile_user.name %></p>
  <p>Email: <%= profile_user.email%></p>
  <%}%>
</div>
